[2022-04-26 15:36] alexdima opened #18 "Cannot read properties of null"
Testing microsoft/vscode-python#18997

I don't think I did anything really, maybe I clicked on the error shown in the editor:
<img width="152" alt="image" src="https://user-images.githubusercontent.com/5047891/165338310-60820b3d-d133-4454-93bf-60bcbe673a4e.png">

[code]

[2022-04-26 15:51] alexdima opened #15 "Missing `isort: Organize imports`"
Testing microsoft/vscode-python#18997

<img width="693" alt="image" src="https://user-images.githubusercontent.com/5047891/165338638-e0f5200b-556d-4794-94a6-e2bffb24b1d4.png">

[2022-04-26 15:53] alexdima opened #17 "Squiggles only update when saving the file"
Testing microsoft/vscode-python#18997

* Create a file with the contents:
[code]
* a squiggle appears on the first line
* move the first import down
* the squiggle doesn't disappear:
<img width="178" alt="image" src="https://user-images.githubusercontent.com/5047891/165341676-77f49c51-c500-4326-94d6-cdb0cbb528c1.png">
* save the file, only now the squiggle disappears

[2022-04-26 17:46] tanhakabir opened #16 "No Sort Imports option"

[2022-04-26 18:05] karthiknadig commented on #16
Duplicate of https://github.com/microsoft/vscode-isort/issues/15

[2022-04-26 18:21] karthiknadig commented on #18
`asCodeAction` is called inside LS Client library. I am suspecting we were returning null for code action when we should be returning something. I am hoping that addressing #15 should also address this.

[2022-04-26 18:21] #18 closed

[2022-04-26 18:24] #17 closed

[2022-04-26 18:24] #15 closed

[2022-04-26 22:01] gregvanl opened #20 "isort Formatter crashes when setting isort.args updated"
Testing microsoft/vscode-python#18997

1. Follow the test plan item steps and copy and paste the settings code into user settings.json.
2. Save settings.json

The isort Formatter will crash and won't be restarted.

Looks like adding, commenting out, or changing isort.args causes the isort Formatter to crash.

[2022-04-26 22:20] gregvanl opened #21 "Can't restart isort Formatter server after a crash."
Testing microsoft/vscode-python#18997

1. Follow the test plan steps and add the isort.args settings to settings.json.
  This will crash the isort Formatter server (see microsoft/vscode-isort#20).
2. Try to restart server with the isort Formatter: Restart Server command.
  isort Formatter server crashes again.

You have reload the VS Code window to get the server back to a runnable state.

[2022-04-26 23:33] gregvanl opened #22 "Ctrl+. doesn't work for isort Quick Fix"
Testing microsoft/vscode-python#18997

1. Follow the test plan instructions until you get the red squiggly under the first import.
2. Put the cursor on the first import.
3. Press Ctrl+. to show Quick Fixes.

"No code actions available" shown in hover

![image](https://user-images.githubusercontent.com/12818376/165409294-1fccded2-5fd1-4731-91b0-9cc1bd9a3fd9.png)

4. Hover over first import so that

[2022-04-27 17:17] karthiknadig commented on #22
@dbaeumer I need some input here. For this scenario, I think I am sending the correct data for code actions (over LSP) but, VS Code seems to think not. Somehow, the same info is shown on hover.

Request:
[code]

Response:
[code]

[2022-04-27 17:22] karthiknadig commented on #22
@dbaeumer For hover it looks like we do get the diagnostics in context, but there is no diagnostic in context for `ctrl+.`.

Request (for hover):
[code]
Response:
[code]

[2022-04-27 17:53] #20 closed

[2022-04-27 17:53] #21 closed

[2022-04-27 17:53] #22 closed

[2022-05-04 16:35] jack89roberts opened #29 "Can both isort and black run on save?"
Thanks for your work on this! Using the config from the readme (copied below for reference) I need to save the file I'm working on twice. The first time `isort` fixes import order, and the second time `black` runs. Is it possible to get them both to run in one go?

[code]

[2022-05-04 17:00] karthiknadig commented on #29
@jack89roberts Just to confirm are you using the `ms-python.black-formatter` extension? or are you using `ms-python.python` extension for formatting?

[2022-05-04 19:51] jack89roberts commented on #29
With `ms-pytthon.black-formatter`, my full `setings.json`  (User, no additional Workspace settings) is:

[code]

On VS Code Version: 1.66.2 (Universal), Mac OS 12.3.1

If I start with:
[code]

After first save it's formatted to:
[code]

And after second save:
[code]

[2022-05-04 20:13] karthiknadig commented on #29
@jack89roberts I am suspecting, the `"files.autoSave": "afterDelay"` might be interfering with this somehow. Locally, I don't have that set, and it seems to be working as intended, that is, when hit save, `isort` runs first, then `black`, then the file is saved.

Could you also add, `"python.formatting.provider": "none"` that should disable formatting from the python extension, and let black exten

[2022-05-04 20:21] jack89roberts commented on #29
Ah right, if I switch to the Python pre-release version both `isort` and `black` happen together, thanks! 👍

And yes the formatting doesn't work with the autosave, I have to manually save the file for the autoformat to trigger.

[2022-05-04 20:23] #29 closed

[2022-05-08 05:44] sudheer82 opened #32 "isort formatting error"
Unable to use isort extension. always facing the following error when reload the windows

`Formatting error, please see Output > isort for more info: Traceback (most recent call last): File "c:\Users\user\.vscode\extensions\ms-python.isort-2022.1.11261002\bundled\formatter\format_server.py", line 140, in _run result = utils.run_module( File "c:\Users\user\.vscode\extensions\ms-python.isort-2022.1.

[2022-05-08 05:49] karthiknadig commented on #32
@sudheer82 Can you copy paste the contents of the Output> isort panel, the stack you have posted is incomplete, the output > python panel should have the complete stack? Please make sure that if you have isort installed in your environment it is >= 5.10.1. Run `python -m pip list | findstr isort` to get the isort version info from your environment.

[2022-05-08 05:54] sudheer82 commented on #32
`isort` is not listed in output panel to get the log.

One more observation is, i am using a custom python path/interpretor `"python.defaultInterpreterPath": "C:\\Users\\user\\AppData\\Local\\Programs\\Python\\Python310\\python.exe",` and in that i do not have `isort` lib. ie, `python -m pip list | findstr isort` returns nothing. is it required for the lib to be manually installed before using the

[2022-05-08 06:00] sudheer82 commented on #32
Hi Karthik,

here is the complete output of isort

[code]

[2022-05-09 17:34] karthiknadig commented on #32
Looks like instead of using the CLI, we should use the APIs available via isorts API module. This will allow us to skip the file check and get the sorted content. This is currently, occurring because `isort` does a file exists check on files which may not be on disk yet, because we are in the process of formatting before saving file to disk.

[2022-05-10 06:17] sudheer82 commented on #32
In this case, `Untitled-1.ipynb` is not applied for save or format. the issue generally occurs when the save or format is being performed on other files on disk while `Untitled-1.ipynb` is open in one of the tabs.

[2022-05-10 22:56] karthiknadig commented on #32
@sudheer82 We check all open files for import sorting issues. The underlying problem is the same, the file skip check in isort is to strict here, and causes this problem.

[2022-05-10 22:57] karthiknadig commented on #32
@sudheer82 We check all open files for import sorting issues. The underlying problem is the same, the file skip check in isort is to strict here, and causes this problem.

[2022-05-12 21:15] cavb opened #37 "--skip-glob argument raises exception when opening a skipped file"
Hi!

When adding a `--skip-glob` argument to skip files inside a folder, the extension raises the following exception while opening a skipped file:

[code]

Config used:
[code]

Even with the `--filter-files` setting I'm getting the same output.

Any workaround to prevent this exception to be raised? As the final behavior is just fine, the file is actually getting skipped, but it throws an error e

[2022-05-17 01:09] #37 closed

[2022-05-17 01:11] karthiknadig commented on #32
https://github.com/microsoft/vscode-isort/pull/44 should address this

[2022-05-17 01:11] #32 closed

[2022-05-17 15:17] sstadick opened #45 "Missing Release Version"
Hello! When I try to install this extension I get the following error:

[code]

[2022-05-17 16:15] #45 closed

[2022-05-17 16:36] sstadick commented on #45
Thanks for the speedy reply!

[2022-05-31 09:52] den-is opened #53 "`isort` does not pick up settings if they are not in the workspace folder"
I have two VSCode dev environments:

One is my local workstation VScode (mac) with the latest isort and black available in $PATH.
The other one is pure devcontainer with controlled environment and the latest isort and black available as well.

Before the latest vscode isort and black extensions. I was able to pick the correct configuration using isort.cfg in the root of each project.

That way bot

[2022-05-31 09:58] den-is opened #54 "Providing path to an external isort is breaking formatting"
To mitigate formatting issues that I have reported in #53 I was trying to use adequate, default, known, healthy, community-supported **[isort](https://github.com/PyCQA/isort)**.

VScode settings:
[code]

Output errors that I get. isort somehow dublicates arguments and passing the stuff:
[code]

[2022-05-31 16:47] den-is commented on #53
@karthiknadig
I'm not able to provide a project's structure. But it is extremely primitive.

regarding including `"--settings-file", "./isort.cfg"`
First I've got error, because I'm using "multi-folder" vscode project:

ok... let's fix it and add isort.cfg there.
my default `isort.cfg` had no "section" config i was always using default
[code]
Adding that setting still made to move my LOCALFILE and

[2022-05-31 17:16] karthiknadig commented on #53
Would it be possible for you to provide a minimal repro of this, if you can't share the entire project? Note that there is a limitation in VS Code on installing pre-release versions of extension in dev container. See here on how to add them:
https://github.com/microsoft/vscode/issues/149383#issuecomment-1132192731

[2022-06-01 09:26] niemiaszek opened #56 "Show error if isort version is not compatible."
Hi. I'd like to use isort with Black formatter, also from VSC extension. As long as file is getting formatted by Black, import sorting fails. I'm using isort-2022.1.11441003 with ms-python.python-2022.7.11511005.

My settings:
[code]

Output of isort extension:
[code]

[2022-06-01 17:50] karthiknadig commented on #56
@niemiaszek Can you check the version of `isort` installed in the environment? the minimum supported version is `5.10.1`

[2022-06-02 23:49] #54 closed

[2022-06-06 20:50] geiregjo commented on #53
I ran into the same issue. I have black and isort extensions running in VSCode. Works like a charm. I also implemented a git pre-commit hook that runs black and isort. This can be used by teammates not using VSCode. One would expect the outcome to be the same. But the extension isort removes a new line in my imports and running it from command line adds one. I use the default settings for both.

[2022-06-06 23:40] juls858 commented on #56
I am also facing the issue, without install  `isort` into the python environment.

[code]
I sort lints just fine, but when attempting to sort imports it fails with the above error.

[2022-06-06 23:59] karthiknadig opened #64 "Formatting error unrecognized arguments: -"
I am also facing the issue, without installing  `isort` into the python environment.  I am using _v2022.1.11541002_ of the extension.

[code]
I sort lints just fine, but when attempting to sort imports it fails with the above error.

_Originally posted by @juls858 in https://github.com/microsoft/vscode-isort/issues/56#issuecomment-1148039831_

[2022-06-07 00:00] karthiknadig commented on #56
@juls858 That looks like a different issue. I created a separate bug to handle that: #64

[2022-06-07 07:01] den-is commented on #53
I have really tried to come up with some trivial python package with a couple of modules in it and external dependencies. But it somehow did not work for a trivial package.

I have even tried to set a custom `isort` path for that extension, since you have fixed my previous issue - did not work.

I have removed that new isort extension and everything started to work as intended.

[2022-06-07 16:51] juls858 commented on #64
@karthiknadig  what version is this fixed in? I just updated to v2022.1.11581002 and I still see the same issue.

[2022-06-07 17:07] karthiknadig commented on #64
@juls858 Can you share the logs? This might be something that would have to be filed on `isort` itself.

[2022-06-07 17:37] karthiknadig commented on #53
This might be something that I will need input from `isort` developers, there difference between how, vscode-python extension triggers this vs vscode-isort is `runpy`,

In vscode-python extension, we insert the path to isort bundled with the python extension and then call main on it.
[code]
in vscode-python extension we get the diff and try to calculate the edits. The content of the file is passed

[2022-06-07 17:45] karthiknadig commented on #53
Created https://github.com/PyCQA/isort/issues/1940 on `isort` to get input on how this should be done.

[2022-06-07 17:48] karthiknadig commented on #64
@juls858 from the logs it looks like it is still using `2022.1.11521002` which had the bug. Try `2022.1.11581002` and reload VS Code.

[2022-06-07 19:40] juls858 commented on #64
@karthiknadig  using 2022.1.11581002 I now have a different issue:

[code]

[2022-06-07 20:07] karthiknadig commented on #64
@juls858 This is really strange, the output literally lists `--profile` as one of the usable arguments. Can you file this on `isort` and see if they have anything to say about this?

Can you try with this build and see if it works? https://github.com/microsoft/vscode-isort/suites/6833301420/artifacts/263314517 you will have download the zip file extract the VSIX file from it. then use Install from

[2022-06-07 20:39] juls858 commented on #64
@karthiknadig
[code]

[2022-06-07 21:52] juls858 commented on #64
@karthiknadig I did not test with the artifact. I tested with with the version you referenced.  Below are the results of testing with the artifact _v2022.1.2457079236-dev_.

[code]

The file that gets sorted gets overwritten with an empty line.

[2022-06-07 22:21] karthiknadig commented on #64
@juls858 I am sorry that I have to ask you to do this. For some reason, I cannot locally reproduce this. Please uninstall the dev version of the extension, and install `2022.1.11581002` from market place. Lets try and see if we can minimally repro this. Basically what we are trying to do in the server is equivalent to this in terminal.

[code]

To exactly repo this can you create a python file wit

[2022-06-07 22:38] juls858 commented on #64
@karthiknadig

The output is a property formatted in the terminal with the following line at the end:
[code]

Using extension:
[code]

[2022-06-07 22:39] juls858 commented on #64
not sure if this helps:
[code]

[2022-06-07 22:59] juls858 commented on #64
I recreated my python environment and tried again. Looks like I am required to install ISORT package in my local environment.

[code]

[2022-06-07 23:26] karthiknadig commented on #64
@juls858 Can you share your entire settings file?

[2022-06-07 23:43] karthiknadig commented on #64
@juls858 I think i see the problem, in your settings can you change this ``"args": ["--profile black"],``` to
[code]

[2022-06-07 23:55] juls858 commented on #64
@karthiknadig  thank you that fixed it!

[2022-06-08 00:21] karthiknadig commented on #64
Phew!!! Sorry I did not notice it earlier.

[2022-06-08 00:21] #64 closed

[2022-06-13 17:59] pfmoore opened #71 "Extension doesn't respect the contents of .isort.cfg"
My project has a `.isort.cfg` file specifying `profile=black`. The extension doesn't take account of this file, so I need to add the profile to my extension settings as well (and keep the two in line).

The extension should respect any of the config locations that isort supports.

[2022-06-13 18:44] karthiknadig commented on #71
@pfmoore We don't do anything special in the extension that causes it to not find `isort`. This might be a bug in `isort` itself where running it via `runpy.run_module` causes it to skip config file detection.

[2022-06-13 18:53] pfmoore commented on #71
My setup was `.isort.cfg` in the project root, alongside `pyproject.toml`. If I run `isort` from the command line, via `pre-commit`, it successfully reformats my source code. But then, when I open the file in VS Code, it shows errors against all of the import lines, indicating that the isort extension thinks they are formatted incorrectly. Adding a config to the isort extension setting args `--pro

[2022-06-13 19:08] alkatar21 commented on #71
I use a `pyproject.toml` in the root directory and it seems to be used by isort. At least I just added `"isort.args": ["--show-config"],` to my settings and there under `"sources"` the pyproject.toml setting appears. Nevertheless it seems to be formatted differently, because a changed line length is not really taken into account when I disable black in VSCode but on the commandline the line length

[2022-06-13 19:18] pfmoore commented on #71
I can try (tomorrow) putting my isort config into `pyproject.toml` rather than `.isort.cfg` to see if that makes a difference. But that would only be a workaround - I want to keep my config out of `pyproject.toml` if possible (for reasons that aren't particularly relevant here).

[2022-06-13 19:19] alkatar21 commented on #71
@pfmoore Can you add `"isort.args": ["--show-config"],` to your settings and see if your config is under `"sources"` included as one of the last. For `pyproject.toml` I can confirm that the settings are used correctly.
Also could you check if the CWD in the Output window -> isort formatter is the one where your config is?

[2022-06-13 19:31] alkatar21 commented on #71
@pfmoore I just tried it myself and it also works with a `.isort.cfg`:
- Add cfg to root folder:
[code]
- Add `"isort.args": ["--show-config"],` to the settings
- Call `isort Formatter: Restart Server`
- Use a testfile and format imports
- In the output under `"sources"`:
[code]

So it doesn't seem to be a bug in isort or the extension. It works as expected.

[2022-06-13 19:31] pfmoore commented on #71
Hmm, when I did that all I got in the isort output was

[code]

But if I re-save my settings, I get the following in the isort output:

[code]

I see nothing in there about which config files are used, though...

Moving my config between `pyproject.toml` and `.isort.cfg`, and even using an invalid profile `profile="bloop"` doesn't seem to make any consistent difference...

[2022-06-13 19:32] brettcannon commented on #71
FYI the code that runs isort can be found at:

https://github.com/microsoft/vscode-isort/blob/a01f5995d00dafb5f0c5c109db7b23d94664a889/bundled/formatter/format_server.py#L139-L146

[2022-06-13 19:35] alkatar21 commented on #71
You must call `isort Formatter: Restart Server`  after each change to a config.

And the output of `--show-config` appears in the python file itself and is around 700 lines long
(And i use the bundelt isort.).

[2022-06-13 19:38] pfmoore commented on #71
@brettcannon as far as I know the one shipped with the extension. How could I tell?

@alkatar21 I followed all of the steps you gave. You say "In the output under "sources"", but I don't see that at all. I can only assume I'm doing something wrong, but I have no idea what. (You say "Use a testfile and format imports" - I'm using right click -> "Sort imports", is that what you meant here?)

[2022-06-13 19:55] alkatar21 commented on #71
@pfmoore  Oh, sorry about my inaccuracy, I'm not part of Microsoft or otherwise involved in development and am just trying to help.
My complete settings are:
[code]
I have saved the file and isort runs automatically when saving with this setting. (Then there is the mentioned output)

Right click -> Sort imports: I do not know how that works.
For me there is currently no isort executed then, only w

[2022-06-13 20:29] pfmoore commented on #71
Ah, that did it. Here's the `--show-config` output:

[code]

I see in there:

[code]

So I guess that means my `.isort.cfg` is being read?

I wonder if the errors I was seeing were because I'd not reloaded the extension somehow? I'll do some more experimenting, but it'll have to be tomorrow now.

[2022-06-14 19:40] brettcannon commented on #71
@karthiknadig can you change this to a feature request to watch the config file(s) and restart the server as necessary?

[2022-06-20 12:38] SandroJijavadze commented on #53
Ran into the same issue. Had to disable extension for everything to work as intended

[2022-06-20 16:33] karthiknadig commented on #53
@SandroJijavadze Can you try adding `--show-config` to `isort.args` and see if that shows where the extension is picking up config from? you should be able to see this in `Output` > `isort` panel.

Run that same thing `isort --show-config ...` from the terminal and share config details from both cases.

[2022-06-21 06:19] SandroJijavadze commented on #53
@karthiknadig

I just reenabled isort to test your suggestion bu I can't seem to get it working at all anymore.

Restarted vscode, cleared settings.json, etc but still, I get shis error:
[code]

[2022-06-21 06:30] karthiknadig commented on #53
@SandroJijavadze Can you try switching to the pre-release version?

[2022-06-21 06:51] SandroJijavadze commented on #53
@karthiknadig

Switched to pre-release, repeated steps (restart, test with/without options, etc) still get the same output:
[code]

In isort panel:
[code]

If I comment out settings.json then I get additional:
[code]

If I run `isort --show-config` in terminal

[code]

[2022-06-21 17:06] karthiknadig opened #77 "TypeError: Cannot read properties of null (reading 'map')"
[code]

Filed by @SandroJijavadze here https://github.com/microsoft/vscode-isort/issues/53#issuecomment-1161312695

[2022-06-21 17:10] karthiknadig opened #78 "isort should show config on start"
In isort panel:
[code]

If I comment out settings.json then I get additional:
[code]

If I run `isort --show-config` in terminal

[code]

_Originally posted by @SandroJijavadze in https://github.com/microsoft/vscode-isort/issues/53#issuecomment-1161333724_

[2022-06-21 17:14] karthiknadig commented on #53
@SandroJijavadze I see two other issues that I need to address before we can get to digging into the original problem here.

1. `--show-config` should just work. I created https://github.com/microsoft/vscode-isort/issues/78 to show what isort will use on start. So there should not be a need to run with `--show-config`.
2. The TypeError, that seems to be a LS protocol error. https://github.com/micr

[2022-06-27 17:24] brettcannon opened #79 "Warnings in Developer Tools"
[code]

[code]

[2022-07-20 14:34] fwindolf opened #88 "High RAM usage in WSL2"
I am using VSCode and the isort extension v2022.2.0 (isort=5.10.1)

My `pyproject.toml` contains:

[code]

I get really high RAM usage for the format_server.py. I tried increasing the WSL2 memory, but after a while the isort format server allocates all free memory on my ubuntu subsystem, until the swap is full and my wsl freezes.

![image](https://user-images.githubusercontent.com/10819729/1800088

[2022-07-21 07:18] ItamarShDev opened #90 "Add option to show incorrect import sort as warning or info instead of error"
Using it in a project that have not maintained a strict ordering rules makes all files red and it can be too much.

I would love the option to see warnings about it and fix at will

[2022-08-09 13:51] pfmoore opened #97 "`isort` formatter server crashes on 3.11"
Type: <b>Bug</b>

Start VS Code on my project.

I cannot reproduce on other projects. I have followed the instructions on a similar issue I found (reinstall all extensions) and that had no effect. The other issue mentioned a workspace file - I have no `.vscode` directory in this project folder, and I don't know where else I should look.

Restarting the isort server just produces the same error.

E

[2022-08-09 13:52] pfmoore commented on #97
I found the following log file. I don't know if it helps.

[code]

[2022-08-09 15:14] pfmoore commented on #97
Ah, thanks for the pointer - I hadn't been able to find that output.

[code]

[2022-08-09 15:20] karthiknadig commented on #97
@pfmoore This looks like you are using python 3.11. It seems like `pydantic` is failing here. This should filed on `pylgs` which is where the error is occurring. Highly likely because of this: https://github.com/openlawlibrary/pygls/issues/234

[2022-08-09 15:42] pfmoore commented on #97
Thanks. Does this mean I need to go back to Python 3.10 for now? Assuming so, how would I know when a possible fix that I can test is released?

[2022-08-09 17:03] karthiknadig commented on #97
Yes you have to drop to 3.10. I will be leaving this issue open till the 3.11 gets resolved.

[2022-08-09 17:47] pfmoore commented on #97
Great, thanks for the help.

[2022-08-19 22:57] luabud opened #103 "Re-order settings in package.json alphabetically"
Having the settings in alphabetical order makes it easier to scan through the list when looking for a setting.

[2022-08-31 01:46] TheAfroOfDoom commented on #103
can this task be assigned to me?

[2022-08-31 23:44] luabud commented on #103
Hi @TheAfroOfDoom! Thanks for your interested in contributing to our repo 🥳

We're participating on [Grace Hopper's Open Source Day](https://ghc.anitab.org/programs-and-awards/open-source-day/) this year, happening on September 16th, and we created a lot of "good first issues" across several of our Python extensions repos for first time contributors who are participating on the event that day. If

[2022-09-10 00:16] janosh opened #107 "Changes to configuration files are not read unless `isort: Restart`"
I added

[code]

but this extension continued to sort `wandb` as 1st party (due to log directory of same name in package) until I ran the command [`isort`: Restart](https://github.com/microsoft/vscode-isort#commands).

**Example**

Expected
[code]

Actual

[code]

[2022-09-12 16:21] michaeloliverx opened #108 "Right click > Sort Imports no longer works after installing extension"
After installing this extension when I do right click > __Sort Imports__ it no longer works.

The quick fix code action __does__ work.

[2022-09-12 16:29] eleanorjboyd commented on #108
If you are using the `isort extension` then `sort imports` is not the correct function- instead please use `organize imports`. Thank you for identifying the bug, we should hide the `sort imports` command when you are using the `isort extension`.

[2022-09-12 17:45] karthiknadig commented on #107
Currently, we do automatic restart when settings are updated in settings.json. We should be able to add file watching to monitor `setup.cfg` and restart `isort`.

Note that the fact that setup.cfg changes are not getting picked up is actually `isort` issue. In the server, we load `isort` once and it seems to cache the settings that it reads the first time. The restart is a workaround to get `isort

[2022-09-13 23:25] karthiknadig opened #110 "KeyErrors for '.' and '/'"
https://github.com/microsoft/vscode-python/issues/19808#issuecomment-1244510151

[2022-09-16 16:10] MarissaMunilall commented on #103
@luabud Can I please be assigned to this issue?

[2022-09-16 16:12] kate-kee commented on #103
@luabud can you assign this to me as part of Grace Hopper's Open Source Day?

[2022-09-16 16:14] luabud commented on #103
Sorry folks! I assigned it to @MarissaMunilall as she commented first

[2022-09-16 17:30] luabud commented on #103
Just to make it clearer, this is about sorting the whole blocks under the properties field, based on the strings after "isort.":

![image](https://user-images.githubusercontent.com/45497113/190697893-cf5b95c3-e7c3-4e41-b9be-047c9179a623.png)

No need to sort the items between those blocks 😊

[2022-09-22 21:44] Spenhouet opened #111 "Add support for yapf formatter"
The example config in the README shows `"isort.args": ["--profile", "black"]` but we are using yapf as formatter.
I tried setting "yapf" here but then isort throws this error:

From this I take it that yapf is not yet supported.
I hope this can be added.

[2022-09-22 22:00] Spenhouet opened #112 "How to only execute isort without executing any other organizeImports provider?"
When I enable `organizeImports`, the code starts dancing on every save.

![82044600-ebee6800-96ad-11ea-8da6-9e019d567c18](https://user-images.githubusercontent.com/7819068/191858122-2d47c8fc-9e8b-4ba5-9624-a2564cc6028c.gif)

That is the line of code:

[code]

My config:

[code]

In 15. May 2020 I already reported this here: https://github.com/microsoft/vscode/issues/83586#issuecomment-629178158

O

[2022-09-22 22:02] karthiknadig commented on #111
The extension is a wrapper around `isort` pyhton library. When you pass those `isort.args` they are beeing passed to the `isort` tool. think `python -m isort --profile yapf`. So, you should be filing this as a feature request on `isort` here https://github.com/pycqa/isort

[2022-09-22 22:02] #111 closed

[2022-09-22 22:07] karthiknadig commented on #111
Looks like there is `google` can you try with that for profile:
[code]

[2022-09-22 22:08] karthiknadig commented on #112
Try adding `"isort.args": ["--profile", "google"]` setting.

[2022-09-22 22:11] Spenhouet commented on #111
Thanks for the hint. I just saw that myself and also found this thread arguing about if this is actually correct: https://github.com/PyCQA/isort/issues/1486
It does format imports differently to how we are used to from yapf but I can't say if it's incorrect or not.

I will raise further issues on that with isort if necessary.

[2022-09-22 22:14] Spenhouet commented on #112
Also just noticed that this makes it stable in this case. Will need to see if this works in all cases. Will reopen an issue should I have a new reporduction.

[2022-09-22 22:14] #112 closed

[2022-10-15 05:49] #110 closed

[2022-10-15 05:49] karthiknadig commented on #110
The issue in the original comment was closed with no further information.

[2022-10-15 05:50] karthiknadig commented on #90
This is done. See `isort.severity` setting.

[2022-10-15 05:50] #90 closed

[2022-10-15 05:54] karthiknadig commented on #88
@fwindolf The server is redesigned a bit and should work better. Please try the pre-release version and see if that helps.

[2022-10-15 05:54] #88 closed

[2022-10-15 06:27] karthiknadig commented on #79
[code]
This seems to occur due to us returning code actions even when it is not needed. In `def code_action_organize_imports(params: lsp.CodeActionParams)` in `server.py` we return both organize and quick fix code actions in all cases. We should only be retrning quickfix if one is needed. We should not be returning the organize code action when providing a quickfix.

[2022-10-15 06:28] karthiknadig commented on #78
Use verbose logging to get the config.

[2022-10-15 06:28] #78 closed

[2022-10-15 06:29] karthiknadig commented on #77
[code]
This seems to occur due to us returning code actions even when it is not needed. In `def code_action_organize_imports(params: lsp.CodeActionParams)` in `server.py` we return both organize and quick fix code actions in all cases. We should only be retrning quickfix if one is needed. We should not be returning the organize code action when providing a quickfix.

[2022-10-15 06:30] karthiknadig commented on #79
This error should not occur any more. Please re-open if it does again.

[2022-10-15 06:30] #79 closed

[2022-10-15 06:32] karthiknadig commented on #56
@niemiaszek There should be a log message showing the error if an incompatible version of `isort` is used. Try the pre-release version.

[2022-10-15 06:32] #56 closed

[2022-10-17 17:25] brettcannon commented on #107
We should make sure to check where isort reads its configuration from to make sure we don't miss anything as I'm sure there are more places than just `setup.cfg` (e.g. `pyproject.toml`).

[2022-10-17 17:29] janosh commented on #107
[isort supports 5 config files](https://pycqa.github.io/isort/docs/configuration/config_files.html):

- `.isort.cfg`
- `pyproject.toml`
- `setup.cfg`
- `tox.ini`
- `.editorconfig`

`setup.cfg` and `pyproject.toml` probably combine to +95% market share.

[2022-10-19 13:47] gagandeepp commented on #77
@karthiknadig  interested please assign

[2022-10-19 22:56] antonag32 commented on #77
Also happening to me.
[code]

[2022-10-21 01:59] scarf005 opened #128 "The isort server crashed 5 times in the last 3 minutes. The server will not be restarted."
Type: <b>Bug</b>

Not sure what is causing the problem.

# Log
[code]

Extension version: 2022.3.12931038
VS Code version: Code 1.72.2 (d045a5eda657f4d7b676dedbfa7aab8207f8a075, 2022-10-12T22:16:26.920Z)
OS version: Linux x64 5.15.0-52-generic
Modes:
Sandboxed: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 7 4700U with Radeon Graphics (8 x 2000)|
|GPU Status|

[2022-10-21 02:02] karthiknadig commented on #128
@scarf005 Python 3.11 is not supported yet. This is caused by an issue in underlying library https://github.com/openlawlibrary/pygls/issues/234

Duplicate of https://github.com/microsoft/vscode-isort/issues/97

[2022-10-21 02:02] #128 closed

[2022-10-21 03:43] WXZhao7 opened #129 "unexpected error popped up"
When I code at **interactive window**, the error message popped up.
![image](https://user-images.githubusercontent.com/56864878/197105976-b0cc6479-df6f-4195-bc5e-557d21fe0bb9.png)

## version: v2022.3.12931038
## setting
[code]
## reproduce
### example1
type
[code]
output
[code]
### example2
type `!ls`
output
[code]
### extra, unexpected UnboundLocalError?
type `import numpy as np`
output
[code]

[2022-10-21 12:40] LeuschkeTressa commented on #77
My debug log (Output -> Log (Window)) is littered with these messages.

They are generated even after having disabled the the isort extension and reloaded the window.

Seems to be related: https://github.com/microsoft/vscode-isort/issues/18

One of the messages:
[code]

VS Code versions:
[code]

[2022-10-24 00:40] tiantian1645 commented on #97
But in my computer it crash with python 3.10

Log
[code]

isort
[code]

[2022-10-24 09:03] pfmoore commented on #97
With 3.11 being released in the next day or so, is there any progress on this? I know that the root cause is in pygls (I'll ping that issue too) but are you working on any short-term mitigation if pygls isn't ready?

If not, how do I disable the isort server until this gets fixed?

[2022-10-24 18:16] karthiknadig commented on #97
@pfmoore You should be able to disable the isort extension itself (see screen shot below) from the extensions view. Python core extension will detect that and use `isort` as it used to before. You may have to reload.
![image](https://user-images.githubusercontent.com/3840081/197596855-dad74c65-3fef-4488-91e3-018033266090.png)

[2022-10-25 01:34] #97 closed

[2022-10-29 07:19] muhammedfurkan opened #134 "python 3.11 support"
The extension doesn't work in the python 3.11 version. It gives an error message. Please add python latest version support.

![image](https://user-images.githubusercontent.com/9547040/198819193-c19f3f75-76fe-4a5b-9be9-857c57b416a8.png)

[2022-10-29 07:26] karthiknadig commented on #134
@muhammedfurkan This is fixed in the pre-release version. Please install pre-release version. The stable version will be release next week.
![image](https://user-images.githubusercontent.com/3840081/198819514-7fa3e6c0-e863-4d7a-9817-9b2fffd59819.png)

[2022-10-29 07:26] #134 closed

[2022-10-29 07:31] muhammedfurkan commented on #134
It's already a pre-release version, but still the same. Same issue with the black formatter.

[2022-10-29 07:45] karthiknadig commented on #134
@muhammedfurkan You have `isort` and `black` both in pre-release version. Also, please share the Logs from Output > Isort or Output > black Formatter . If the logs say the issue is due to an error in `pydantic` then that is fixed in the pre-release. And you will need  pre-release  of  python extension, isort extension and black extension.

[2022-10-29 07:47] muhammedfurkan commented on #134
# isort Formatter

`Name: isort
Module: isort
Python extension loading
Waiting for interpreter from python extension.
Python extension loaded
Traceback (most recent call last):
  File "c:\Users\M.Furkan\.vscode\extensions\ms-python.isort-2022.3.12771042\bundled\tool\server.py", line 41, in <module>
    from pygls import lsp, protocol, server, uris, workspace
  File "c:\Users\M.Furkan\.vscode\exten

[2022-11-03 20:05] achen187 opened #138 "`isort` does not pickup configuration when it is not in current working directory"
Hi, it seems since updated to VSCode 1.73, the import sort order that gets autosaved has changed.

This is what my import sort used to be:
![image](https://user-images.githubusercontent.com/2522984/199822539-74bb62a7-76c7-4e92-be32-3051370f2001.png)

Now, when I hit save, this is what it changes to:
![image](https://user-images.githubusercontent.com/2522984/199822620-72b6b0a7-3ad6-4990-813b-38290b

[2022-11-03 20:06] achen187 commented on #138
In the meantime, we're going to turn off "source.organizeImports"
and call isort manually from the command line.

This was super painful though, and I burned an afternoon tracking this down.

[2022-11-03 20:07] achen187 commented on #138
What's interesting though is that when I look in the output, it does theoretically say that its using the same isort executable?

[code]

[2022-11-03 20:09] karthiknadig commented on #138
@achen187 When you run using organize imports what is the command that you see in the logs?

[2022-11-03 20:10] karthiknadig commented on #138
And can you set loglevel for isort to `debug` before getting the logs?

[2022-11-03 20:16] achen187 commented on #138
You mean these logs right?
[code]

[2022-11-03 20:16] achen187 commented on #138
[code]

[2022-11-03 20:19] achen187 commented on #138
startup logs:

[code]

[2022-11-03 20:19] achen187 commented on #138
on every save;

[code]

[2022-11-03 20:20] karthiknadig commented on #138
The way extension does import sorting on save is equivalent to `cat <file-path> | python -m isort - --filename <file-path>`. This is because, the buffer is not yet saved, so we have to send contents of the editor to isort as text.

Can you run `python -m isort --show-config` for the one from your command line, i.e., with the isort that works correctly. This way we can compare what the extension ve

[2022-11-03 20:22] achen187 commented on #138
[code]

[2022-11-03 20:30] karthiknadig commented on #138
@achen187 One thing noticed is that when you ran it from terminal the directory is `/Users/andychen/dev/nira-data-pipeline/pipeline`, whereas when the extension is running with `/Users/andychen/dev/nira-data-pipeline`.

Temporary work around is to use this argument in the settings `"isort.args": ["--settings-path", "${workspaceFolder}/pipeline/pyproject.toml"]`.

Would it be possible to share your

[2022-11-03 20:37] achen187 commented on #138
that fixes it! Yeah i suspected the toml file wasn't getting used anymore.

Suer, I just gave you read access. Yeah would be good to remove that setting from being required though. Seems like isort should know where to pick up the toml file correctly

[2022-11-03 20:49] karthiknadig commented on #138
This might be a bug in `isort` itself. I will have to check with legal before I access your repo since it is not a public repo.

My suspicion is that since we are dealing with plain string. if you run `isort` from command like using this command you will run into the problem.

[code]

Even this might run into the same issue:
[code]

I think that the directory location is what is messing this up.

[2022-11-03 20:53] achen187 commented on #138
ah ok, I just cancelled your invite. Hm does the command change only because we're using this arg? "isort.args": ["--settings-path", "${workspaceFolder}/pipeline/pyproject.toml"]"

I feel like that argument shouldnt affect whether its plain string or not?

[2022-11-03 20:55] achen187 commented on #138
This is the new command in the logs:

[code]

[2022-11-03 21:00] achen187 commented on #138
When I do the second option, it works:

[code]

[2022-11-03 21:02] karthiknadig commented on #138
The working directory is the problem here. `isort` starts its search for config from current working directory, and goes up. If you run `isort` from `/Users/andychen/dev/nira-data-pipeline/pipeline` it works because that is where the `pyproject.toml` is also located. so, from the terminal where it worked for you, it looked like the current working directory was `/Users/andychen/dev/nira-data-pipel

[2022-11-03 21:02] achen187 commented on #138
[code]

[2022-11-03 21:04] karthiknadig commented on #138
Thanks for all the details. I think I have enough info to create a bug on `isort` with minmal repro instructions. I will file a bug and link it here.

[2022-11-03 21:04] achen187 commented on #138
hm no, I dont think I'm following.

I tried both the first and second method from /Users/andychen/dev/nira-data-pipeline

The first method did not work, the second did. So that tells me it has to do with the text vs file invocation of isort. It doesn't have to do with the working directory @karthiknadig

[2022-11-03 21:05] karthiknadig commented on #138
It has to do with, `isort` not searching properly when using the plain text method and when the directory is the parent of where the config is located.

[2022-11-03 21:06] achen187 commented on #138
ah got it, so this bug only exists when using plain text method. Ok, sounds good.

[2022-11-04 13:51] s-banach opened #139 ""Sort imports" has no effect"
The imports are not sorted in any way.

I'm using the latest version of VSCode and python extensions on Windows 11.
I have tried with two environments, python 3.9.13 and 3.10.6, freshly installed from conda forge.
I have tried `Python Refactor: Sort imports` from the command palette.
I have tried adding the following settings to settings.json:
[code]

(The black formatter works properly.)
I'm not

[2022-11-04 17:01] karthiknadig commented on #139
`isort` does not contribute `Python Refactor: Sort Imports`. If you have the isort extension then use the `Organize Imports` command.

[2022-11-04 17:02] karthiknadig commented on #139
Also, if `Organize Imports` is not working, please share the output from Output > isort panel.
![image](https://user-images.githubusercontent.com/3840081/200033709-09059088-3784-4312-b0af-0cdc5f7d83e9.png)

[2022-11-04 21:07] sidewinder12s opened #140 "New version crash on startup"
I get this error now on latest VSCode release & latest extension version:

[code]

I don't think it's related to 3.11 as I'm not using that yet.

[2022-11-04 21:14] karthiknadig commented on #140
@sidewinder12s If you are using python 3.6 or older you might get this error. Extension is supported for 3.7 or greater.

[2022-11-04 21:22] brettcannon commented on #140
@sidewinder12s it's because you're running Python 3.6 or older:

[code]

As @karthiknadig said, we only support Python 3.7 and newer (i.e. the [versions of Python supported upstream](https://devguide.python.org/versions/#versions)).

[2022-11-04 21:22] #140 closed

[2022-11-04 22:06] dmartin opened #141 "`python.linting.cwd`-equivalent setting for new extensions"
Hi, I have a monorepo workspace where the Python portion (including config files like `pyproject.toml`, `isort.cfg`, `.flake8`) is within a subdirectory (for example, `${workspaceRoot}/python/`).

With the previous all-in-one behavior of the Python extension, I could set `python.linting.cwd` and all of these tools (black, flake8, isort, mypy, etc.) would pick up their configuration files appropria

[2022-11-04 23:14] s-banach commented on #139
I don't seem to have an `Organize Imports` command.
<img width="454" alt="no_such_command" src="https://user-images.githubusercontent.com/45150804/200087802-940550b5-3408-482c-a75a-534deaa4da7f.png">

When I save a document, which is supposed to trigger `Organize Imports`, nothing appears in Output > isort.

[2022-11-04 23:18] karthiknadig commented on #139
@s-banach Can you share hat is the version of the python extension, isort extension and vscode you have?

You should be able to see this command, which is exposed by VS Code itself for most languages.
![image](https://user-images.githubusercontent.com/3840081/200088130-1794cb8e-8ca7-4715-93dd-d9c01fcfa78c.png)

[2022-11-04 23:23] s-banach commented on #139
VS Code Version: 1.73.0 (user setup)
ms-python.python: v2022.18.1
ms-python.sort: v2022.4.0

[2022-11-04 23:23] karthiknadig commented on #139
Can you share the logs from both Output>isort and Output > python?

[2022-11-04 23:26] s-banach commented on #139
Output > python on open:
[code]

Output > python on save:
[code]

Output > isort is completely blank.

[2022-11-04 23:32] karthiknadig commented on #139
What is the version of python you have? also, can you Help > toggle developer tools. See if there are any errors reported?

[2022-11-04 23:39] karthiknadig commented on #139
Also, can you check the "runtime status" from the extension view:
Go to extensions view:
![image](https://user-images.githubusercontent.com/3840081/200089536-64434a0f-3096-47cf-8479-02dbf6eb522d.png)

Clicking on `isort` extensions should show the content below:
![image](https://user-images.githubusercontent.com/3840081/200089498-d979fd30-57c2-417a-967f-b5132b2eae37.png)

[2022-11-05 01:57] s-banach commented on #139
I'm using python 3.10.6 (which is the base environment for miniconda forge).

The other python extensions show their activation time, but isort just says "Not yet activated":

<img width="496" alt="not_yet_activated" src="https://user-images.githubusercontent.com/45150804/200096033-6748ab71-9de4-4c09-a49b-c40e6cd2dec3.png">

[2022-11-05 13:45] mthanded commented on #138
Wanted to also chime in here. I have spent the last day tracking down whats going on here. Having issues committing to any of my CI pipelines without manually calling isort. I'm also not seeing "Organize Imports" in the command menu.

[2022-11-05 15:19] geozeke commented on #139
This is interesting. I'm having the exact same issue, but just on Ubuntu (22.04). On vscode on a Mac (Ventura - 13.0), it works fine. I can see the "Organize Imports" option in the command pallet, and everything works as expected. On Ubuntu 22.04 I'm having the same experience as @s-banach.

Running Python 3.10.6 on both machines.

vscode in Ubuntu:

[code]

vscode on the Mac:

[code]

[2022-11-05 17:11] mthanded opened #142 "Provider throwing errors on vscode 1.73.0"
Since the newest vscode release I have had some issues getting the plugin to run correctly. From a clean plugin install I am seeing this in the extension host log on an m1 mac

[code]

If I change the isort to use the environment's isort I get
[code]

My settings.json
[code]

[2022-11-05 18:12] mthanded commented on #142
A little self debugging here. If `--verbose` is passed to isort the output of the verbose isort command ends up in the file instead of the transformed sort order

[code]

[2022-11-05 18:32] mthanded opened #143 "--verbose command passed to isort via pyproject.toml or command line causes sorting to fail"
If `--verbose` is passed to isort the output of the verbose isort command ends up in the file instead of the transformed sort order

If I choose quick fix with a file containing  the below:
[code]
The sorted imports turn into
[code]

This is the isort command with --verbose
[code]

[2022-11-05 20:13] karthiknadig commented on #138
@mthanded As identified in the comment https://github.com/microsoft/vscode-isort/issues/138#issuecomment-1302662018 this is an issue with `isort` itself. IT should get resolved there.

As for the missing "Organize Imports" follow this issue: https://github.com/microsoft/vscode-isort/issues/139

[2022-11-05 20:17] karthiknadig commented on #139
I am suspecting that the `ms-python.isort` is shome how corrupted. I recommend trying this:
1. uninstall `ms-python.isort` extension.
2. Close all instances of VS Code.
3. Go to `%USERPROFILE%/.vscode/extensions/` (Windows) or `~/.vscode/extensions` (linus/mac) . If using SSH/container/WSL got to `.vscode-server` instead.
4. Delete `ms-python.isort`.
5. Then Start VS Code and re-install the extens

[2022-11-05 20:18] karthiknadig commented on #142
Duplicate of https://github.com/microsoft/vscode-isort/issues/77 Should not impact how it works.

[2022-11-05 20:18] #142 closed

[2022-11-05 20:26] karthiknadig commented on #143
This is by design. The way it works in the extension is, we take the plain string of text before the file is saved, and pass it to `isort` via stdin. `isort` then outputs the processed result.

If you need to use `--verbose` then I recommend disabling this extension and using the task.json to setup a task that does this for you using the `isort`s in-place edit.

Until there is a clear way to filte

[2022-11-05 20:29] mthanded commented on #143
@karthiknadig got it. This came up when debugging the sort order issue. Thanks for the clarity.

[2022-11-05 20:30] karthiknadig commented on #143
@mthanded Try setting `isort.logLevel` to debug. We pretty much output the entire thing we do. Should help with debugging problems in the extension.

[2022-11-05 20:31] #143 closed

[2022-11-05 21:46] geozeke commented on #139
Sincere thanks. Appreciate the recommendation. I tried it, but still no luck. I then spun up a fresh Ubuntu 22.04 VM, with a fresh install of vscode. The only extensions installed were those recommended by vscode for python. Still don't have the "Organize Imports" option, and still can't sort imports.

[2022-11-07 17:27] karthiknadig commented on #139
@geozeke Sometimes when dependent packages are installed it can get corrupted. This is why i was suggesting, that you try the steps here https://github.com/microsoft/vscode-isort/issues/139#issuecomment-1304634057 specifically with isort. If specifically uninstall and re-install of `isort` extensions does not work. Then I recommend downgrading the python extension to `2022.16.*`.

[2022-11-07 19:26] karthiknadig commented on #141
@dmartin Can you try `"isort.args":["--settings-file", "${workspaceFolder}/python/pyproject.toml"]`? That should work, the `isort.args` settings expands `${workspaceFolder}`.

I will discuss this with the team on what we should do about support a CWD setting.

[2022-11-07 19:29] karthiknadig commented on #141
@luabud There are two things here to discuss: Adding a new `cwd` setting for each extension, and Second one is honoring `python.linting.cwd`

[2022-11-07 21:37] sidewinder12s commented on #140
Hum, let me see if I can point this at my bazel managed version of Python. Surprised I haven't run into issues yet with other Extensions.

[2022-11-07 23:06] geozeke commented on #139
This is something.

If I downgrade the python extension to `2022.16.*`, everything works as expected. I can see the "Organize Imports" menu in the command palette and imports will sort properly. If I then update the python extension to the most current version again, isort no longer works.

Attached is my logfile.

[2022-11-07 17_58_04.702 [info] Extension.log](https://github.com/microsoft/vscode-

[2022-11-08 00:05] karthiknadig commented on #139
Do you see any errors when you open developer console? (Help > Toggle Developer tools)

[2022-11-08 01:20] geozeke commented on #139
Yes. The log is a bit of a mess (pretty extensive), but I attached it. Perhaps it will help. I've been doing some work with jupyter notebooks, so there are few errors from that I can see. The other errors relating to the ms-python extension may be informative.

[Developer Console.log](https://github.com/microsoft/vscode-isort/files/9956746/Developer.Console.log)

[2022-11-08 01:31] karthiknadig commented on #139
@geozeke Can you share the logs form Output > Python? The logs seem to suggest that the selected interpreter is invalid, the python extension logs might have some clue (in the previous comments it looked like python was selected and running fine). The developer logs seems to suggest otherwise. Can you also try setting `isort.logLevel` to `debug`, see if that prints something in Output > isort logs

[2022-11-08 02:08] geozeke commented on #139
Well, it's working now and the python interpreter may have been the problem. Looking at the isort log led me to the answer, thank you for that.

I've got several projects ongoing right now, with several different virtual environments running, so it doesn't surprise me that my developer logs were full of interpreter errors. I'm constantly tearing down and building virtual environments for testing s

[2022-11-08 07:34] bicofevo opened #147 "The isort server crashed 5 times in the last 3 minutes. The server will not be restarted."
With every VSCode launch that error message appears:
![image](https://user-images.githubusercontent.com/99279651/200501579-4a36541c-0b8d-44d5-bb20-94c43293ac5c.png)

VSCode version details:
![image](https://user-images.githubusercontent.com/99279651/200501754-db2fae58-90f2-4946-8479-885f1f28af2c.png)

isort version - v2022.4.0

Let me know if more details needed.

[2022-11-08 07:38] karthiknadig commented on #147
Can you share the logs from Output > isort? If you are using Python 3.6 or older it is not supported.
![image](https://user-images.githubusercontent.com/3840081/200502915-26c18c0b-d1d3-4644-b7ac-ed282e955c28.png)

[2022-11-08 09:08] rfbr commented on #147
Hello there!
Jumping in because I have also the same error since yesterday.
Here are the log on my side:
[code]

[2022-11-08 11:16] asommani commented on #147
Hi, I also started getting this error since yersterday! It's really annoying because my IntelliSense stop working as well.

[2022-11-08 11:38] iron3oxide opened #148 "Add warning/notice or explicit error regarding args structure"
It is very easy to encounter issues that are hard to debug by simply setting the isort args via the settings panel and thus not properly separating them (it is more intuitive to add "--profile black" than it is to add "--profile", "black", even though the latter makes sense once you start thinking about it).

In my case this lead to the following error:
[code]
The command seemed okay though:
[code

[2022-11-08 11:47] asommani commented on #147
I am working on a ssh server. I have also noticed that if I delete the folders `~/.vscode-server/extensions/ms-python.isort*` and `~/.vscode-server/extensions/ms-python.vscode.pylance*/`, then  my IntelliSense start working again. Now I am very confused because I thought that the IntelliSense was contained in the pylance extension.

[2022-11-08 12:16] geozeke commented on #139
I think I understand better what's going on.

If the interpreter path is set in the `ms-python.python` extension (first picture below) `ms-python.isort` will pick it up from there. If not, it needs to be set in the `ms-python.isort` extension. That's why it works on one machine and not another.

If you look carefully at the first picture below, you'll notice that the interpreter path setting is no

[2022-11-08 18:10] eleanorjboyd commented on #147
Please upgrade your python to 3.7 or newer or the other option is to uninstall the isort extension and python extension then install python extension version 2022.8.*.

[2022-11-08 18:10] #147 closed

[2022-11-08 18:13] asommani commented on #147
I am using python 3.9.0 and still having the problem...

[2022-11-08 18:13] asommani commented on #147
I don't think this issue should be closed then.

[2022-11-08 18:14] eleanorjboyd commented on #147
Hi @asommani! Can you please file a separate issue with the logs from output > isort. Thanks!

[2022-11-08 18:16] eleanorjboyd commented on #148
Hello! Thank you for the suggestion, but since parsing for all the different types of shell is very difficult and error prone this concept is out of scope for our extension.

[2022-11-08 18:16] #148 closed

[2022-11-08 21:30] fmunirdev commented on #138
This works for me. But I still see the following error in Output > Log (Remote Extension Host):
[code]

[2022-11-08 21:42] #77 closed

[2022-11-08 21:43] karthiknadig commented on #138
@fmunirdev the `Cannot read properties of null (reading 'map')` issue is this one, it should be fixed in the pre-release version for tomorrow https://github.com/microsoft/vscode-isort/issues/77

[2022-11-09 21:15] jmichalicek commented on #107
This is definitely not working with pyproject.toml. isort used to work just fine, then the preview version of this extension was forced on me and now isort is not sorting correctly from vscode. Works just fine if I manually run it from the command line.

[2022-11-09 21:30] karthiknadig commented on #107
@jmichalicek You can try this `"isort.args": ["--settings-path", "${workspaceFolder}/pyproject.toml"]` and see if that helps.

This particular issue is about reloading isort if there is a change to one of the settings files.

[2022-11-09 21:38] karthiknadig commented on #138
Files an issue ion `isort` for this please upvote that: https://github.com/PyCQA/isort/issues/1989

[2022-11-09 21:41] karthiknadig commented on #138
Duplicate of: https://github.com/microsoft/vscode-isort/issues/53

[2022-11-09 21:41] #138 closed

[2022-11-09 21:42] karthiknadig commented on #53
After investigation it looks like this comes from `isort` not searching for configuration when using stdin with `--filename`. See https://github.com/PyCQA/isort/issues/1989

[2022-11-09 22:39] karthiknadig commented on #129
@WXZhao7 I recommend removing the `showNotification` setting. Pylance language server should be able to detect any syntax errors. and Any Import organization errors here you can always look at the logs.

@luabud This happens because user has `showNotification` on error and there was a python syntax error. There are two options, 1) not trigger notification for syntax errors 2) skip organize imports

[2022-11-10 02:04] WXZhao7 commented on #129
@karthiknadig I agree with you. I think interactive window do not need sort imports.

[2022-11-10 02:04] WXZhao7 commented on #129
@karthiknadig I agree with you. I think interactive window do not need sort imports.

[2022-11-10 08:26] thistlillo opened #152 "isort crashed five times..."
Whenever I start VSC on my Windows 10 Pro notebook and connect to a remote linux server via the `remote-ssh` extension I get the message shown in the screenshot below:

![image](https://user-images.githubusercontent.com/6717655/201038494-60cf42e6-ab54-4d6a-80ab-c95739d0434f.png)

Even if it says that it crashed five times in the last three minutes, this message is shown as soon as VSC connects to

[2022-11-10 08:52] jtamyrc commented on #152
I got the same error

There is the log from isort.
[code]

[2022-11-10 11:51] clj commented on #152
For some reason the isort server is trying to start with a Python 2 interpreter. If set the `isort.interpreter` setting to a Python 3 interpreter (e.g. `python3`) then isort works again.

I get a slightly different error in the console than the one above:
[code]

[2022-11-10 17:16] bluenote10 commented on #53
FYI I've also just raised https://github.com/microsoft/vscode-python/issues/20205 because this actually used to work for us before updating to VScode 1.7.3.

[2022-11-10 18:52] karthiknadig commented on #53
@bluenote10 the problem is with how `isort` works. We have a minimal repro see here: https://github.com/PyCQA/isort/issues/1989 , this can be reproduced just via command line (even without the extension). The thing is we need this fixed in `isort` to properly support organize imports on save. Because the content is not yet written to disk, we have to send it via stdin. That is where this is failin

[2022-11-10 18:57] karthiknadig commented on #152
Error on the line `from __future__ import annotations` means that you are using python version 3.6 or older. We dropped support for this in python extension with version 2022.9.* onwards. There are two options:
[Option1] If you have to work with python 3.6 or older, downgrade the python extension to 2022.8.*. Then uninstall `isort` extension.
[Option 2] Upgrade your python to 3.7 or greater.

[2022-11-10 19:21] karthiknadig commented on #139
Thanks @geozeke for looking into this.

Closing this issue for now, please try some of the recommendation mentioned here. If nothing works, try setting the `"isort.interpreter"` setting to a python that 3.7 or greater and it should work.

[2022-11-10 19:21] #139 closed

[2022-11-10 22:02] wonder-mice commented on #107
That was my major issue with isort - to figure out how to make it use the latest config. Especially painful when creating a new isort config and need to iterate quickly.

[2022-11-10 22:46] alanhoyle commented on #152
@karthiknadig this is quite disappointing.  I don't have a choice as to what version of Python that I have available to me on all of the servers I use and legacy code with virtualenvs might have older pythons.

[2022-11-10 22:49] karthiknadig commented on #152
@alanhoyle with the Downgrade option you will get the `isort` support the old way. Just that it won't give you the organize imports on save feature. you will still be able to use `isort`.

[2022-11-11 14:14] torext opened #153 "Quick Fix suggestion/bulb keeps showing even if all imports sorted or no imports present"
Type: <b>Bug</b>

1. Open a new Python file; even Ctrl+N followed by Ctrl+K M and setting the language to Python suffices.
2. Type `print("there's a bug somewhere")`, or any other valid Python code for that matter.
3. The "Quick Fix bulb" shows up and suggests fixing import sorting/formatting with isort. Even after invoking the "fix" it disappears for a second and comes back again.

![Peek 2022-11

[2022-11-11 14:51] alanhoyle commented on #152
That's true today, but one presumes that you all aren't just pushing out updates with no other features...

Yes, I get that supporting legacy versions is probably a pain....

[2022-11-11 19:03] karthiknadig commented on #107
Duplicate of  https://github.com/microsoft/vscode-isort/issues/71

[2022-11-11 19:03] #107 closed

[2022-11-11 19:57] #153 closed

[2022-11-11 19:58] #103 closed

[2022-11-11 20:19] #129 closed

[2022-11-12 05:10] HunterDG commented on #97
curious - what is the proper solution to mitigate this issue while developing in python 2.7 venv? Disable the extension as in screenshot above?

[2022-11-12 07:13] karthiknadig commented on #97
You have two options:
Option 1: Try the `isort.interpreter` setting. Set that to point to a python 3.7 or greater. This way, you can still use Python 2.7 venv to run your code, and isort extension will use python 3.7 to run the server.

Option 2: Downgrading the python extension to 2021.12.*. To do this you have to uninstall `isort` extension, then use the gear icon on the python extension to inst

[2022-11-12 19:07] karthiknadig commented on #53
Another workaround for this using the tasks and keybinding:
https://github.com/microsoft/vscode-python/issues/18714#issuecomment-1100641778

[2022-11-14 06:45] LoyalBlanc opened #157 "Error when saving an empty file."
When I want to save an empty file：

[code]

And I must restart VS Code after the 'Cancel'

My setting is like:

[code]

[2022-11-14 17:51] karrtikr commented on #157
Can you try disabling these extensions one by one to see which one is causing the problem?

[2022-11-15 03:25] LoyalBlanc commented on #157
Yes, I mean when I remove the line `"source.organizeImports": true`, everything is fine

In fact, except saving an empty file or a file with only blank line, no error will be raised.

[2022-11-15 04:18] karrtikr commented on #157
I understand that, however I am not sure isort is the culprit given the logs. Please disable/uninstall each extension and see which extension is causing the issue.

[2022-11-15 14:06] CaBazaga opened #158 "Isort ignores --resolve-all-configs"
As title mentions it completely ignores any nested config file, in my case `setup.cfg`.

Surprisingly even when switched to environment `isort`, or even when path set to the `which isort` that actually works properly from the command line.

`isort --diff --resolve-all-configs components/core/app/gunicorn_app.py` gives completely different output as does in VScode, using the mentioned `--resolve-al

[2022-11-16 01:49] karthiknadig commented on #157
@LoyalBlanc as @karrtikr mentioned, the above error means all 4 of those language servers participate in providing code actions. Can you look at `Output` > `isort` panel, and see if there are any clues. You can also enable verbose logging by setting `isort.logLevel` to debug.

[2022-11-16 01:52] karthiknadig commented on #158
This is a bug in `isort` itself, I have filed an issue on `isort` and it has to be addressed there.
https://github.com/PyCQA/isort/issues/1989

If you need a workaround try this:
https://github.com/microsoft/vscode-python/issues/18714#issuecomment-1100641778

[2022-11-16 01:52] #158 closed

[2022-11-16 10:21] alonme opened #160 "Enabling the extension makes save very slow"
vscode Version: 1.73.1
python extension version: v2022.18.2
isort extension version: v2022.6.0

The extension makes saving files very slow (around 5 seconds).

This was not the experience when i was using the isort in the past with this config.

[code]

also - i can't seem to find a way to use isort as i was doing before?

[2022-11-16 13:50] mjpieters commented on #71
I am experiencing this too, using version v2022.7.13181009, but only if I try to make use of the `--resolve-all-configs` setting.

I have a `.sort.cfg` file in a subdirectory, and I use the `--resolve-all-configs` setting to tell `isort` to use that configuration when dealing with files in the specific directory. I also enabled sorting imports on save:

[code]

The `.isort.cfg` file contains

[cod

[2022-11-16 14:02] mjpieters opened #161 "Documentation bug: isort has no '--config' command line switch."
The README gives this example for `isort.args`:

However, `isort` doesn't have such an option. Did you perhaps mean to refences the [`--settings-path` option](https://pycqa.github.io/isort/docs/configuration/options.html#settings-path)?

[2022-11-16 17:04] brettcannon commented on #53
Yeah, I'm wondering if providing a task as a fallback option makes sense? Otherwise we could have the language server fallback to subprocess if the config file is found somewhere else (although honestly I think it would be better if folks specified the config location instead).

[2022-11-16 18:02] mjpieters commented on #158
Another work-around is to add `--settings-path <directory with .isort.cfg or full pathname>` to `isort.args`.

[2022-11-16 22:11] markedwards opened #163 "isort extension not working on remote container"
Type: <b>Bug</b>

# Behaviour
isort was working fine prior to being broken out into the new extension.  now it doesn't work at all (no sorting).
## Expected vs. Actual
I expect it to work, and it does nothing.
## Steps to reproduce:

1. Open a remote container (a docker container running on a remote server).
2. Project has [tool:isort] config in setup.cfg

# Diagnostic data

-   Python version (&

[2022-11-17 03:56] ashbreeze commented on #163
Seeing the same intermittent issues after upgrading to the latest version. Sometimes it will work (takes 10+ seconds though), other times it spins for a bit and then pops up `No organize import action available`

In Extensions > isort > Runtime Status I'm seeing `write after end` errors too.

I my case, I have `skip_gitignore` turned on in `.isort.cfg`. I have noticed this to make isort run consid

[2022-11-17 07:46] karthiknadig commented on #163
Can you share the contents of Output > isort?

@ashbreeze  If you see issue due to specific settings in `.isort.cfg` please file it on `isort` (https://github.com/PyCQA/isort/issues).

[2022-11-17 07:52] karthiknadig commented on #160
You can use it via `Organize Import` command. You can turn off `"source.organizeImports"` by removing this from your settings.

[2022-11-17 07:53] karthiknadig commented on #161
You are correct. Created a PR to fix this.

[2022-11-17 08:36] markedwards commented on #163
Contents of Output > isort:
[code]
That's it, no additional lines ever, even after saving files or running `Python Refactor: Sort Imports`

[2022-11-17 09:00] #161 closed

[2022-11-17 09:05] karthiknadig commented on #163
Can you share extension host log from the output tab?
![image](https://user-images.githubusercontent.com/3840081/202402793-1173f948-679b-4742-97d3-bcfa47e7febe.png)

Also, console logs from Help > toggle developer tools.

[2022-11-17 09:45] markedwards commented on #163
There's nothing related to isort in Log (Extension Host), but I do see this in Log (Remote Extension Host):
[code]

[2022-11-17 14:54] ashbreeze commented on #163
@karthiknadig I don't think this is a bug on the `isort` side, more of a performance issue on their end that isn't handled well by the extension.

I filed a performance enhancement PR with them - https://github.com/PyCQA/isort/pull/2002

[2022-11-17 15:09] markedwards commented on #163
Isn't this a communication bug between VSCode and its server?

[2022-11-18 03:43] sbdchd commented on #160
Also running into this, running the underlying commands on the command line:

[code]

takes about 660s (not great)

while saving a file in vscode with `isort` enable takes ~4 seconds

[2022-11-18 16:40] alonme commented on #160
@karthiknadig  - i don't want to remove it - as i want it to run on save, however since updating to the new version (and disabling the `isort` extension) - my previous configuration does not work

[2022-11-18 19:07] mjpieters opened #165 "Appears to leak memory"
Type: <b>Bug</b>

I'm trying to use VSCode to edit Python code on a resource-constrained, older server (AMD Turion(tm) II Neo N40L, 6GB RAM). This has been working very well, until recently.

I've narrowed this down to the `extensions/ms-python.isort-<version>/bundled/tool/server.py` process; saving files with the current pre-release is excruciatingly slow and it has been eating up memory and usin

[2022-11-20 10:01] booleancoercion opened #166 "PLEASE STOP AUTOMATICALLY REINSTALLING THIS EXTENSION"
I checked everywhere, including other extensions, general settings, etc - nowhere is the "input sorting" option turned on. The fact that most of the reviews are negative in the extension store means that it is obviously *you* who are doing something wrong. I never wanted this functionaly, and yet it seems that this extension installs itself every time I restart vscode.

The team that manages your

[2022-11-21 19:13] eleanorjboyd commented on #166
Hello! We are very sorry to hear you are experiencing this behavior. To clarify, are you "uninstalling" the i-sort extension in the marketplace and then it is being reinstalled by the python extension on reload? We wanted to make sure we understood at which point you are seeing the reinstall occur to determine where the error is occurring. Thanks!

[2022-11-21 19:14] eleanorjboyd commented on #165
Hello! I wanted to update to say we have received this issue and will be looking into it!

[2022-11-22 10:56] dc-avasilev opened #168 "Extension not support python < 3.10 because use future annotation format"
its a problem for centos 7 where python is old version by default
[code]

[2022-11-22 13:49] booleancoercion commented on #166
I'm not actually sure what causes it to reinstall, but yes - I am uninstalling it in the marketplace, and the python extension is installed (and wanted) - it would be weird if anything else caused i-sort to come back

[2022-11-22 18:51] eleanorjboyd commented on #168
Hello! We have received this issue and will look into it soon, thanks!

[2022-11-23 04:31] HAOCHENYE opened #169 "[Error] isort got an unexpected arguments `--filename`"
# VScode version:

Version: 1.70.1
Commit: 6d9b74a70ca9c7733b29f0456fd8195364076dda
Date: 2022-08-10T06:09:15.055Z
Electron: 18.3.5
Chromium: 100.0.4896.160
Node.js: 16.13.2
V8: 10.0.139.17-electron.0
OS: Linux x64 5.4.0-132-generic

# isort version: newest

# isort config: empty

![image](https://user-images.githubusercontent.com/57566630/203469509-6e84e836-e962-4de6-abbc-02232946050f.png)

# Err

[2022-11-23 12:23] bersbersbers opened #170 "Keyboard focus is moved to end of file upon save in diff view"
This seems to happen in diff views only, so to reproduce, create an empty Git repo, create a new file, and open it by double-clicking in Source Control.

Before saving:
![image](https://user-images.githubusercontent.com/12128514/203545758-4202581c-d49e-4c66-8128-5566f82ea2d9.png)

After saving:
![image](https://user-images.githubusercontent.com/12128514/203545795-8a23cc0f-0bbd-4b0f-82cf-cb70aed0a2

[2022-11-23 12:23] bersbersbers opened #185 "Keyboard focus is moved to end of file upon save in diff view"
This seems to happen in diff views only, so to reproduce, create an empty Git repo, create a new file, and open it by double-clicking in Source Control.

Before saving:
![image](https://user-images.githubusercontent.com/12128514/203545758-4202581c-d49e-4c66-8128-5566f82ea2d9.png)

After saving:
![image](https://user-images.githubusercontent.com/12128514/203545795-8a23cc0f-0bbd-4b0f-82cf-cb70aed0a2

[2022-11-23 12:25] bersbersbers commented on #170
Version: 1.73.1 (user setup)
Commit: 6261075646f055b99068d3688932416f2346dd3b
Date: 2022-11-09T04:27:29.066Z
Electron: 19.0.17
Chromium: 102.0.5005.167
Node.js: 16.14.2
V8: 10.2.154.15-electron.0
OS: Windows_NT x64 10.0.19044
Sandboxed: No

isort v2022.8.0

[2022-11-23 18:28] brettcannon commented on #166
[ FYI I edited your ✉️ ⬆️ to come off as more 😃 and less 😠]

@booleancoercion can you clarify what you mean by "restarting the client"? Are you doing remote development with VS Code? And if it is remote, is the system surviving restarts or would your VS Code server configuration be wiped out every time?

And to be clear, this is being installed automatically by the Python extension. We pulled out

[2022-11-23 18:55] booleancoercion commented on #166
[sorry - that's ok, it's just a few weeks of this bubbling up to the surface :/]

As far as I can tell, it's both - when restarting the VS Code program on my PC after enough time has passed (when I restart it immediately after uninstalling, nothing happens), the extension gets installed again (remotely if doing remote development, and locally if not). Honestly, I don't recall whether or not a rest

[2022-11-23 18:56] booleancoercion commented on #166
Oh! I had JUST updated to VS Code 1.73, and when I quickly went into the extension menu (locally - not on the server) it started installing isort.

[2022-11-23 19:14] brettcannon commented on #166
There might be a bug in VS Code itself, but I want to see if we can get a clear understanding of the scenario before I transfer this issue over to the core repo (the Python extension just declares the isort extension as an optional dependency, so the installation is controlled by VS Code itself).

I can see a situation where the install would be triggered regularly on the remote side; since extens

[2022-11-23 19:22] booleancoercion commented on #166
I only spotted the isort extension since it was so quick - is there a way to check the extension install/update history so that I can tell you conclusively?

Notably, I did have a look at the python extension before updating because I wanted to check something else, and it didn't have an "update available" or "reload required" button.

[2022-11-23 19:40] brettcannon commented on #166
Maybe the "Extension Host" channel in the Output panel? Otherwise I'm afraid I don't know of anything beyond whether Developer Tools happens to have something.

[2022-11-23 19:44] booleancoercion commented on #166
Nope 😓

[2022-11-23 19:49] bersbersbers commented on #166
I cannot contribute anything substantial at this time, but the overall behavior you are describing sounds similar to what I have been observing the last couple of weeks. Over and over again, I had to "Switch to release version" for the `isort` extension (and possibly a few more, such as `black`), only to find, a couple of days later, to have (another? the same?) pre-release extension installed. I

[2022-11-24 16:45] #169 closed

[2022-11-24 18:19] brettcannon commented on #166
That is a good point about Setting Sync, as I have seen that bring over extensions uninstalled somewhere else on occasion.

@booleancoercion do you have Settings Sync turned on?

[2022-11-24 18:40] booleancoercion commented on #166
I do indeed.

[2022-11-25 01:00] Avasam opened #171 "Warn with running with old settings from the Python extension"
isort Output from VSCode:
[code]

Settings:
![image](https://user-images.githubusercontent.com/1350584/203880258-ccfef7e0-a082-4e8e-982d-7dd886f5d0c6.png)

pyproject.toml :
[code]

isort in editor thinks lines are too long because they're over 120 chars. When the limit is 130:
![image](https://user-images.githubusercontent.com/1350584/203880467-49cf967a-2827-4569-9610-f6ea747f3916.png)

[2022-11-28 01:16] Vinci08 opened #172 "isort skipping standard library file"
Hi,

  I recently installed isort on VS Code on home desktop, but it didn't work when I tried to save file. Shft+Alt+O gave "no organize import action available." Here's the settings:
[code]

Here's the output from my log

[code]

yyy.py is a python file I am currently working on and not really part of any standard library. Not sure why it's flagged as standard library file. Can you please provide

[2022-11-28 11:53] mikaeltulldahl commented on #172
I have the same problem

[2022-11-28 17:34] brettcannon commented on #171
Is your `pyproject.toml` at the top of your workspace or in a subdirectory?

[2022-11-28 17:37] brettcannon commented on #172
Is the file in your workspace or outside of it?

[2022-11-28 17:52] Avasam commented on #171
It is at the top of the workspace: https://github.com/python/typeshed

[2022-11-28 19:42] Vinci08 commented on #172
@brettcannon it is not within any workspace. The settings above is for user so that I can have isort available globally.

In the same folder, I also tried to enable isort in Workspace settings, but again it just gave me same output about skipping standard file.

[2022-11-28 21:34] brettcannon commented on #166
That may be the culript. I will transfer this over to the vscode repo and see if there's something they can suggest or help with.

[2022-11-28 21:43] brettcannon commented on #172
@Vinci08 I'm not concerned about the setting but where the file you have open and are trying to tweak the imports is. The warning seems to come from:

https://github.com/microsoft/vscode-isort/blob/ef37d377cab60abb0a25ce983b6b6591d186aec0/bundled/tool/server.py#L534

And that uses the following to figure out what's a stdlib module:

https://github.com/microsoft/vscode-isort/blob/ef37d377cab60abb0a

[2022-11-28 21:53] brettcannon commented on #171
I suspect there's an issue where we are reading the ruler/line wrapping setting in VS Code but not realizing there's a conflicting setting in isort (probably because it was assumed the editor would be set up to match the value in the `pyproject.toml` configuration). I assume you have 120 characters set in VS Code as the line length limit?

If that guess is right, I'm not sure what the best solutio

[2022-11-28 21:57] Vinci08 commented on #172
@brettcannon Thank you for the detailed explanation Brett. I indeed have my source code inside a venv directory. I checked with another file not part of any venv, and it works just like you suggested!

This led me to update isort interpreter path in User settings to a global python executable, which now works correctly in any virtual environment. This ticket can be closed now.

Thank you again for

[2022-11-28 21:57] #172 closed

[2022-11-28 21:58] brettcannon commented on #172
@Vinci08 Quite welcome! Just glad we figured this out.

[2022-11-28 22:18] Avasam commented on #171
Here's my workspace configs:

<details>
<summary>Details</summary>

{
    // Don't format on save for formatters we don't explicitely control
    "editor.formatOnSave": false,
    "editor.codeActionsOnSave": {
        "source.fixAll": false
    },
    // Set file associations to support comments
    "files.associations": {
        ".flake8": "properties",
        "stubtest_allowlist*.txt": "proper

[2022-11-28 22:25] brettcannon commented on #171
Glad it's now resolved!

I've gone ahead and tweaked this issue into a feature request to warn when picking up settings from the Python extension.

[2022-11-29 04:21] alexreg opened #173 "Turning off `isort.check` has no effect"
Setting `"isort.check": false` in my config file has no effect; isort is still always run. Is this a known bug?

[2022-11-29 17:52] brettcannon commented on #168
Closing as a duplicate of https://github.com/microsoft/vscode-isort/issues/152 .

[2022-11-29 17:52] #168 closed

[2022-11-29 17:59] brettcannon commented on #173
Do you have any isort settings under the `python` namespace from the Python extension or generic import sorting code action settings? Specifically, there is no known bug about this, but we have had some folks with stale settings from the Python extension that they didn't realize they had which this extension also reads.

[2022-11-29 19:46] brettcannon commented on #152
You can specify either the path to the Python interpreter to use for executing the copy of isort we ship in the extension or the path to isort itself (that's new enough, e.g. we use the `--filename` flag which hasn't always been there). See the [settings](https://github.com/microsoft/vscode-isort#settings) on how to specify either.

[2022-11-29 23:53] alexreg commented on #173
@brettcannon Hmm, I don't seem to have any other isort settings, and my only Python ones are the following.
[code]
I also have an `.isort.cfg` file in my home directory, but I wouldn't imagine that should affect anything.

[2022-11-30 17:50] willjhenry opened #175 ""Getting code actions" on saving a python file can hang up to 20 seconds."
When I save a file in python, it will show the following pop up:

"Saving ‘my_file.py': Getting code actions from ''Sourcery', 'isort'' (configure).”

This can hang for up to 20 seconds. It did not used to do this. I do not know if it is an issue with VS code, isort, or Sourcery.  Disabling isort did seem to help, but it is hard to tell because it is a little random; it does not hang every time (i

[2022-11-30 18:02] brettcannon commented on #175
Can you please try turning off extensions and turning them back on one by one to try and figure out which is causing the slowdown? It might also just be VS Code itself, but it's hard to tell without eliminating Sourcery from possibly being a problem.

[2022-11-30 20:16] willjhenry commented on #175
after a few tests, I believe this is Sourcery

[2022-11-30 20:16] #175 closed

[2022-11-30 20:17] brettcannon commented on #175
Thanks for letting us know in case this come up for anyone else!

[2022-11-30 20:38] brettcannon commented on #173
Is it running **and** reporting something, or is this report more about the simple fact that the extension loads?

[2022-11-30 21:21] alexreg commented on #173
@brettcannon Apologies. This may be something done by the MS Python extension actually, although it evidently uses isort configuration to some extent. I should have been explicit I was dealing with isort running on save. The following setting seems to disable it.
[code]
`isort.check` doesn't impact this setting (perhaps by design), though `isort.path` does.